@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

html {
  font-family: "Cabin",sans-serif;
}

#pageheader {
    text-align: center;
    padding: 3% 0px;
}
.sidebar {
    background-color: #E5EAF0;
    padding: 1%;
    color: #223a68;
}
.sidebar a {
    color: #223a68;
    transition: all 0.2s ease;
}
.sidebar a:hover {
    color: #da9e28;
    text-decoration: none;
}
.sidebar h3 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.DCC-content {
    text-align: center;
}
#tour-button {
    padding: 5px 10px;
    margin: 5% 0px 0px 0px;
    background-color: #223a68;
    color: #da9e28;
    border: none;
    transition: all 0.5s ease;
}
#tour-button:hover {
    background-color: #da9e28;
    color: #223a68;
}

#mil-bg {
  background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("milburngate.jpg");
  background-size: cover;
}

#mount-bg {
  background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("mount_oswald.jpg");
  background-size: cover;
}

#tlc-bg {
  background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("DU_teaching_hub.jpg");
  background-size: cover;
}
